:root {
  --color-dorado: #C6A75E;
  --color-rosa-claro: #E8CFC5;
  --color-rosa-viejo: #D8A7A0;
  --color-blanco: #FFFFFF;
  --color-gris: #F4F1EF;
  --color-texto: #333333;
   --radius: 15px;
  --shadow-soft: 0 5px 15px rgba(0,0,0,0.1);
  --transition: all 0.3s ease;}

/* -------------------
   RESET
------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2px;
  margin: 2px;
  font-family: 'Montserrat', sans-serif;
  background: var(--color-gris);
  color: var(--color-texto);
  scroll-behavior: smooth;
}

button,
.btn,
a {
  cursor: pointer;
}

:focus-visible {
  outline: 2px solid var(--color-dorado);
}

a {
  text-decoration: none;
  color: var(--color-dorado);
}


/* ----------------------------------------------------------------------------------------
   HEADER
------------------- */
.header {
  display: flex;
  justify-content: space-between;
  /* Título a la izquierda, nav+botón a la derecha */
  align-items: center;
  /* Centrar verticalmente los elementos */
  padding: 10px 10px;
  background: var(--color-blanco);
  border-top: 4px solid var(--color-rosa-claro);
  border-bottom: 4px solid var(--color-rosa-claro);
  position: relative;
  z-index: 1000;
}


/* Título a la izquierda */
.header h1 {
  font-family: 'Playfair Display', serif;
  color: var(--color-dorado);
  font-weight: 600;
  font-size: 42px;
  margin: 0;
}

/* Contenedor de links + botón a la derecha */
.header .right-header {
  display: flex;
  align-items: center;
  gap: 20px;
  /* espacio entre nav y botón */
}

/* Links del nav */
.header nav {
  display: flex;
  gap: 15px;
}

.header nav a {
  font-weight: 500;
  transition: 0.3s;
}

.header nav a:hover {
  color: var(--color-rosa-viejo);
}

.header nav a {
  position: relative;
}

.header nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background: var(--color-dorado);
  transition: 0.3s;
}

.header nav a:hover::after {
  width: 100%;
}

nav {
  display: flex;
  gap: 20px;
}

/* Botón hamburguesa oculto en desktop */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Header clickeable */
.accordion-header {
  cursor: pointer;
  padding: 15px;
  background: var(--color-rosa-claro);
  border-radius: 15px;
  color: var(--color-dorado);
  font-weight: 600;
  position: relative;
}

/* Indicador + / - */
.accordion-header::after {
  content: '+';
  position: absolute;
  right: 20px;
  font-size: 20px;
  transition: transform 0.3s;
}

/* Cuando está activo */
.accordion.active .accordion-header::after {
  content: '-';
}



/* --------------------------------------------------------------------------------
   HERO
------------------- */
.hero {

  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 50px;

}


.hero-content {
  background: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  position: relative;
  z-index: 2;
}

.hero h2 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  margin-bottom: 15px;
  color: black;
}

.hero p {
  font-weight: 300;
  margin-bottom: 25px;
  color: black;
}

.hero-buttons .btn,
.hero-buttons .btn-outline {
  margin: 5px;
}

/* Hero slider */
.hero-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}



.slide.active {
  opacity: 1;
}



/* Hero content sobre la imagen */
.slide .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  color: var(--color-texto);
  text-align: center;
  opacity: 0;
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translate(-150%, -50%);
    transition: all 0.3s ease;
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translate(50%, -50%);
    transition: all 0.3s ease;
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }
}

.slide.active .hero-content {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Slide 1 entra desde la izquierda */
.slide:nth-child(1).active .hero-content {
  animation-name: slideFromLeft;
}

/* Slide 2 entra desde la derecha */
.slide:nth-child(2).active .hero-content {
  animation-name: slideFromRight;
}

/* Slide 3 entra otra vez desde la izquierda */
.slide:nth-child(3).active .hero-content {
  animation-name: slideFromLeft;
}



.slide.active .hero-content {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transform: scale(1);
  transition: transform 6s ease;
}

.slide.active img {
  transform: scale(1.1);
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.slide.active {
  left: 0;
  opacity: 1;
  z-index: 2;
}

.slide.prev {
  left: -100%;
  opacity: 0;
  z-index: 1;
}



@keyframes textRevealRight {
  from {
    opacity: 0;
    transform: translate(80px, -50%);
    transition: all 0.3s ease;
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }
}

/* HERO CORPORAL */
.hero-corporales {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/corporal3.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.hero-corporales h2 {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
}

.hero-corporales p {
  font-size: 18px;
  margin-top: 10px;
}

/* HERO DEPILACION */
.hero-depilacion {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/depilacion5.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.hero-depilacion h2 {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
}

.hero-depilacion p {
  font-size: 18px;
  margin-top: 10px;
}

/* HERO FACIAL */
.hero-facial {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/facial1.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.hero-masajes {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/masaje4.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
  border-radius: 10px;

}

.hero-facial h2 {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
}

.hero-facial p {
  font-size: 18px;
  margin-top: 10px;
}



/* ------------------------------------------------------------------------------------
   BOTONES
------------------- */


.btn {
  display: inline-block;
  background: var(--color-dorado);
  color: var(--color-blanco);
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: 500;
  transition: 0.3s;
}


.btn:hover {
  background: var(--color-rosa-viejo);
  color: var(--color-blanco);
  transform: translateY(-2px);
  
}


.btn-outline {
  display: inline-block;
  padding: 12px 30px;
  border: 2px solid var(--color-dorado);
  border-radius: 30px;
  color: var(--color-dorado);
  font-weight: 500;
  transition: 0.3s;
}

.btn-outline:hover {
  background: var(--color-dorado);
  color: var(--color-blanco);
}

#btnTop {
  position: fixed;
  bottom: 15px;
  /* arriba del botón de WhatsApp */
  right: 20px;
  width: 50px;
  height: 50px;
  background: var(--color-dorado);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  display: none;
  /* oculto al inicio */
  z-index: 999;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

#btnTop:hover {
  background: var(--color-rosa-viejo);
  transform: scale(1.1);
}

.contacto-form .btn {
  margin-top: 18px;
  width: 100%;
  padding: 12px;
  background: #c59d5f;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.contacto-form .btn:hover {
  background: #a67c3d;
}


/* ---------------------------------------------------------------------------------------
   SECCIONES
------------------- */
section {
  padding: 15px 15px;
  width: 100%;
  margin: auto;
}

h3 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  color: var(--color-dorado);
}

/* --------------------------------------------------------------------------------------------
   CARDS SERVICIOS
------------------- */
.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: var(--radius);
  box-shadow: var(--shadow-soft);
  transition: var(--transition);
}

.servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 40px 20px;
}

.card {
  background: var(--color-blanco);
  padding: 25px;
  border-radius: 15px;
  width: 280px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.card h4 {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 600;
  color: var(--color-dorado);
}

/* Contenido cerrado por defecto */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 15px;
}



/* -------------------
   GALERÍA
------------------- */
/* Contenedor padre que junta resultados y sobre nosotros */
.results-about-container {
  display: flex;
  gap: 50px;
  /* espacio entre las dos secciones */
  justify-content: center;
  align-items: flex-start;
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
  /* importante para responsive */
}

/* Cada sección mantiene estilo propio */
.results-about-container .results,
.results-about-container .about {
  flex: 1;
  /* ocupa el mismo espacio */
  min-width: 300px;
  /* para que no se achique demasiado en móviles */
}

/* -------------------
   GALERÍA PRO (1 grande + 2 chicas)
------------------- */
.results .gallery {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 15px;
}

/* Imagen grande (la primera) */
.results .gallery img:nth-child(1) {
  grid-row: span 2;
}

/* Todas las imágenes */
.results .gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover elegante */
.results .gallery img:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.results .gallery img {
  border: 3px solid var(--color-rosa-claro);
}


/* -------------------
   MÉTRICAS
------------------- */
.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: var(--color-rosa-claro);
  border-radius: 15px;


}

.stat h4 {
  font-size: 36px;
  color: var(--color-dorado);
}

.stat p {
  font-weight: 500;
}

/* -----------------------------------------------------------------------------------
   CTA FINAL
------------------- */
.cta {

  text-align: center;
  background: var(--color-rosa-claro);
  border-radius: 20px;

}

.cta h3 {

  color: var(--color-dorado);
}

/* INTRO */
.intro {
  text-align: center;
  padding: 50px 20px;
}

/* -----------------------------------------------------------------------------
   CONTACTO
------------------- */
.contact {
  text-align: center;
  text-decoration: underline;
  color: var(--color-dorado);
}

.contact iframe {
  width: 100%;
  height: 300px;
  border: 1px solid #333333;
  border-radius: 15px;
  margin-top: 20px;
}

/* -------------------------------------------------------------------------------------
   FOOTER
------------------- */
footer {
  text-align: center;
  justify-content: center;
  padding: 30px;
  color: var(--color-texto);
  border-bottom: 4px solid var(--color-rosa-claro);
  border-top: 4px solid var(--color-rosa-claro);
}

/* ------------------------------------------------------------------------------------
   WHATSAPP FIXED
------------------- */
.whatsapp .logo-whatsapp {
  position: fixed;
  bottom: 15px;
  left: 20px;
  background: #25d366;
  color: white;
  padding: 15px;
  border-radius: 50%;
  font-size: 24px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 80px;
}

.whatsapp:hover {
  transform: scale(1.1);
}


.caja-acordeon {
  gap: 15px;

  border-radius: 20px;
  color: #C6A75E;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;
  padding: 20px;
  align-items: center;


}

h5 {
  text-decoration: underline;
  font-size: 24px;
  align-items: center;
  margin: 10px;
  padding: 10px;

}

/* DROPDOWN */

.dropbtn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
}



.dropdown-content a {
  display: block;
  padding: 10px;
  color: var(--color-dorado);
  text-decoration: none;
}

.dropbtn {
  color: var(--color-dorado);
  text-decoration: none;
}

/* -------------------
   ANIMACIONES
------------------- */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
    animation: fadeIn 0.8s ease;
  }

  to {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease;
    animation: fadeIn 0.8s ease;
  }
  
}



/* FORMULARIO */
.contacto-form {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.contacto-form h3 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
}

/* LABELS */
.contacto-form label {
  display: block;
  margin: 12px 0 5px;
  font-size: 14px;
}

/* INPUTS Y TEXTAREA */
.contacto-form input,
.contacto-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s ease;
}

/* EFECTO FOCUS */
.contacto-form input:focus,
.contacto-form textarea:focus {
  outline: none;
  border-color: #c59d5f;
  box-shadow: 0 0 5px rgba(197, 157, 95, 0.3);
}

/* PLACEHOLDER */
.contacto-form ::placeholder {
  color: #aaa;
  font-size: 13px;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

  /* HERO */
  .hero {
    height: 70vh;
    /* menos alto en celular */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero h2 {
    font-size: 26px;
    line-height: 1.2;
  }

  .hero p {
    font-size: 14px;
    margin-top: 10px;
  }

  .hero {
    background-position: center;
    background-size: cover;
  }

  /* IMÁGENES GENERALES */
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  /* cards o secciones con imágenes */
  .card img,
  .servicios img,
  .galeria img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  /* WHATSAPP */
  .whatsapp {
    bottom: 2px;
    right: 2px;
  }

  .logo-whatsapp {
    width: 75px;
    height: 75px;
  }

  /* ocultar menú */
  #nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: white;
    width: 200px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  /* cuando está activo */
  #nav-menu.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  nav {
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  nav.active {
    display: flex;
  }

  nav a {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }

  /* Dropdown en mobile */
  .dropdown-content {
    position: static;
    display: none;
  }

  .whatsapp-btn img {
    width: 12px;
    height: 12px;
  }

  .hero-text {
    font-size: 24px;
    /* tamaño más chico en mobile */
  }

  .hero-text {
    font-size: 20px;
    line-height: 1.2;
    padding: 0 16px;
    /* para que no toque los bordes */
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .stats {
    flex-direction: column;
    gap: 30px;
  }

  .hero h2 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }
  .hero-content{
    font-size: 12px;
    line-height: 1.2;
    padding: 0 16px;

  }
  .caja-acordeon {
    font-size: 12px;
    line-height: 1.2;
    padding: 0 16px;
  }
  
}
